<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.LeoBlog.mapper.FriendMapper">

    <resultMap id="BaseResultMap" type="com.chen.LeoBlog.po.Friend">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="userFriendId" column="user_friend_id" jdbcType="BIGINT"/>
            <result property="userNote" column="user_note" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,user_friend_id,
        user_note
    </sql>
</mapper>
