<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.LeoBlog.mapper.SetUserBadgeMapper">

    <resultMap id="BaseResultMap" type="com.chen.LeoBlog.po.SetUserBadge">
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="badgeId" column="badge_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,badge_id
    </sql>
</mapper>
